go 1.24.0

use (
	./services/apps/auth-service
	./services/apps/basic-search
	./services/apps/configuration-center
	./services/apps/data-application-gateway
	./services/apps/data-application-service
	./services/apps/data-catalog
	./services/apps/data-exploration-service
	./services/apps/data-subject
	./services/apps/data-view
	./services/apps/session
	./services/apps/task_center
)

replace gitee.com/tdxmkf123/gorm-driver-dameng => ./local_patches/gorm-driver-dameng
