.res-for-apply-container {
    width: 100%;
    height: 100%;
    padding: 0 24px 24px;

    .top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 16px;

        .searchLayout {
            width: 100%;
            margin-bottom: -16px;

            > div {
                width: 100%;
            }
        }

        &-choice {
            color: rgb(0 0 0 / 65%);
            font-size: 12px;

            span {
                position: relative;
                display: inline-block;
                padding-right: 25px;
                cursor: pointer;
                transition: color 0.2s ease-in-out;

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    top: 15%;
                    right: 13px;
                    width: 1px;
                    height: 80%;
                    background-color: rgba(0 0 0 / 25%);
                    content: '';
                }

                &:hover,
                &.is-active {
                    color: #126ee3;
                }
            }
        }
    }

    .apiTop {
        justify-content: space-between !important;
    }

    .technical-info-container {
        display: flex;
        align-items: center;

        .technical-info {
            overflow: hidden;
            flex: 1;
            margin-right: 4px;
            margin-left: 8px;

            .technical-name {
                color: rgb(0 0 0 / 85%);

                .ellipsis-mixin();

                &:hover {
                    color: @primary-color;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .api-technical-name {
                display: flex;
                align-items: center;

                .technical-name-text {
                    .ellipsis-mixin();

                    &:hover {
                        color: @primary-color;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .api-offline-flag {
                    width: 44px;
                    height: 22px;
                    flex-shrink: 0;
                    margin-left: 4px;
                    background-color: rgba(255 77 79 / 8%);
                    border-radius: 4px;
                    color: #ff4d4f;
                    font-size: 12px;
                    line-height: 22px;
                    text-align: center;
                }
            }

            .technical-code {
                color: rgb(0 0 0 / 45%);
                .ellipsis-mixin();
            }
        }
    }

    .catalog-info-container {
        display: flex;
        width: 100%;
        align-items: center;

        .catalog-name {
            .ellipsis-mixin();

            &:hover {
                color: @primary-color;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .offline-flag {
            width: 44px;
            height: 22px;
            flex-shrink: 0;
            margin-left: 4px;
            background-color: rgba(255 77 79 / 8%);
            border-radius: 4px;
            color: #ff4d4f;
            font-size: 12px;
            line-height: 22px;
            text-align: center;
        }
    }

    .name-offline {
        color: rgba(0 0 0 / 45%) !important;

        &:hover {
            color: rgba(0 0 0 / 45%) !important;
            cursor: default !important;
            text-decoration: none !important;
        }
    }
}
