.boxContainer {
    display: flex;
    width: 100%;
    min-height: 100%;

    .item {
        display: flex;
        overflow: hidden;
        align-items: center;
    }

    .number {
        width: 20px;
        margin-right: 8px;
    }

    .listItem {
        display: flex;
        flex-direction: column;
    }

    .splitLines {
        display: flex;
        width: 48px;
        justify-content: center;

        .line {
            width: 1px;
            height: 100%;
            background: rgb(0 0 0 / 10%);
        }
    }
}
