.inputArea {
    resize: none;
}

:global {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
    }

    input[type='number'] {
        appearance: textfield;
    }
}
