header.headerWrapper {
    position: relative;
    min-width: 1280px;
    height: 64px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    background: #fff;

    .headerContentWrapper {
        display: flex;
        // width: 1216px;
        height: 64px;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 64px;
    }

    .imgWrapper {
        display: flex;
        flex-grow: 1;
        align-items: center;

        .select {
            width: 104px;
            margin-left: 24px;
            color: #fff;
        }

        .mainNav {
            display: flex;
            height: 100%;
            flex-grow: 1;
            align-items: center;

            :global {
                .any-fabric-ant-menu {
                    .any-fabric-ant-menu-item-active {
                        &::after {
                            content: none;
                        }

                        &.any-fabric-ant-menu-item-selected::after {
                            content: '';
                        }
                    }
                }
            }

            .mainNavItem {
                display: flex;
                height: 100%;
                align-items: center;
                border-bottom: 2px solid transparent;
                margin-left: 32px;
                color: rgb(0 0 0 / 85%);
                cursor: pointer;
                font-size: 16px;
                line-height: 22px;

                .mainNavTitle {
                    display: flex;
                    height: 100%;
                    flex-shrink: 0;
                    align-items: center;
                }

                .subNav {
                    position: absolute;
                    z-index: 999;
                    // top: 100%;
                    top: calc(100% + 2px);
                    left: 0;
                    // left: 0;
                    display: none;
                    // position: fixed;
                    overflow: hidden;
                    width: 100%;
                    height: 90px;
                    // padding-left: 20px;
                    background: #fff;
                    // box-shadow: 0 2px 10px 6px rgb(0 0 0 / 5%);
                    cursor: default;
                    line-height: 28px;
                }

                .subNavContent {
                    position: relative;
                    // 123+20
                    left: 153px;
                    display: flex;

                    /* width: 1216px; */
                    max-width: 1216px;
                    height: 100%;
                    align-items: center;
                    margin: 0 auto;

                    // justify-content: space-between;

                    .subNavItem {
                        width: 264px;
                        // height: 63px;
                        padding: 12px;
                        border-radius: 3px;

                        & + .subNavItem {
                            margin-left: 36px;
                        }

                        &:hover {
                            background: rgb(18 110 227 / 6%);
                        }

                        .subNavItemTitle {
                            margin-bottom: 2px;
                            color: rgb(0 0 0 / 85%);
                            font-weight: 600;
                            line-height: 20px;
                        }

                        .subNavItemDesc {
                            color: rgb(0 0 0 / 45%);
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }

                &:hover {
                    border-color: #126ee3;
                    opacity: 1;
                    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out,
                        left 0.4s ease-in-out;

                    .mainNavTitle {
                        color: #126ee3;
                        cursor: pointer;
                        font-weight: 600;
                    }

                    .subNav {
                        display: block;
                    }
                }
            }
        }
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        color: #fff;

        .iconWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .headerIcon {
                display: flex;
                height: 24px;
                align-items: center;
                margin-left: 20px;
                color: #000;
                cursor: pointer;
            }
        }

        .divider {
            width: 1px;
            height: 16px;
            margin: 4px 0 4px 20px;
            // margin: 0 20px;
            background: rgb(0 0 0 / 50%);
        }

        .assetIcon {
            margin-right: 8px;
            font-size: 16px;
        }

        .configWrapper {
            padding: 6px;
            cursor: pointer;

            .configTip {
                margin: 0 14px 0 6px;
            }

            &:hover {
                background-color: hsl(0deg 0% 100% / 30%);
            }
        }

        .nameWrapper {
            display: flex;
            align-items: center;
            padding: 0 8px;
            margin-left: 12px;
            color: #000;

            &:hover {
                background-color: hsl(0deg 0% 100% / 30%);
            }
        }

        .userIcon {
            padding-top: 4px;
            font-size: 24px;
        }

        .userName {
            max-width: 107px;
            padding-right: 6px;
            padding-left: 6px;
            font-size: 14px;
            .ellipsis-mixin();
        }
    }

    :global {
        .any-fabric-ant-select-single.any-fabric-ant-select-open
            .any-fabric-ant-select-selection-item {
            color: white;
        }

        .any-fabric-ant-select-arrow {
            color: white;
        }
    }
}

.assetsWrapper {
    .assetsInstruction {
        display: flex;
        height: 106px;
        padding: 20px 18px 18px 26px;
        border: 1px solid #bae0ff;
        margin-bottom: 24px;
        background-color: rgb(230 244 255 / 100%);
        border-radius: 8px;

        .tipIcon {
            margin-top: 4px;
            margin-right: 12px;
            color: @primary-color;
            font-size: 20px;
        }

        .tipContent {
            color: rgb(0 0 0 / 85%);
            font-weight: 400;
        }
    }

    .emptyWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 122px;

        .applyBtn {
            margin-top: 28px;
        }

        .jumpIcon {
            margin-left: 4px;
            font-size: 16px;
        }
    }

    .dataWrapper {
        .checkAllContainer {
            display: flex;
            margin-bottom: 16px;
        }

        .item {
            margin-bottom: 16px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;

                    .resName {
                        max-width: 208px;
                        margin-left: 12px;
                        color: rgb(0 0 0 / 85%);
                        font-size: 16px;
                        font-weight: 550;
                        .ellipsis-mixin();

                        &:hover {
                            color: rgb(18 110 227 / 100%);
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    .loseEffectiveFlag {
                        width: 52px;
                        height: 24px;
                        margin-left: 8px;
                        background-color: rgb(0 0 0 / 30%);
                        border-radius: 10px;
                        color: white;
                        font-size: 12px;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }

            .itemDesc {
                width: 272px;
                margin-top: 8px;
                margin-left: 30px;
                color: rgb(0 0 0 / 45%);
                .ellipsis-mixin();
            }
        }

        .loseEffectiveItem {
            .top {
                .left {
                    .resName {
                        color: rgb(0 0 0 / 45%);

                        &:hover {
                            color: rgb(0 0 0 / 45%);
                            cursor: unset;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
