.formWrapper {
    max-height: 616px;
    overflow-y: auto;

    .selectView {
        display: flex;
        gap: 8px;
    }

    .configRow {
        display: flex;
        margin-bottom: 12px;

        .errTips {
            margin-left: 12px;
            color: #f5222d;
        }
    }

    .ruleExpression {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .label {
            margin-right: 16px;

            .labelSwitch {
                margin-left: 16px;
            }
        }
    }

    .filterConfigBox {
        margin-top: 8px;
    }

    .radioName {
        margin-bottom: 10px;
    }
}

.requiredFlag {
    margin-right: 4px;
    color: #f5222d;
}
