.draggableListWrap {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;

    // :global {
    //     div.drop-over-downward {
    //         border-bottom: 1px dashed #1890ff;
    //     }

    //     div.drop-over-upward {
    //         border-top: 1px dashed #1890ff;
    //     }
    // }
}
