.scroll-filter {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);

    &-table {
        flex: 1;
    }

    &-tool {
        //
    }
}

.scroll-filter-height {
    height: calc(100% - 40px);
}
