.singleDrectoryQuery {
    height: 100%;

    .pageTitle {
        padding-left: 20px;
    }

    .mainContent {
        height: calc(100% - 40px);
        border-top: 1px solid rgb(0 0 0 / 6%);
    }

    .left {
        overflow: hidden;
        height: 100%;

        .queryTypeWrapper {
            padding: 23px 20px 7px;
        }

        .leftTreeWrapper {
            // height: calc(100% - 82px);
            overflow-x: hidden;
            overflow-y: auto;

            :global {
                .any-fabric-ant-tree-node-content-wrapper {
                    width: calc(100% - 40px);
                }

                .any-fabric-ant-tree .any-fabric-ant-tree-treenode {
                    padding-right: 6px !important;
                }

                .any-fabric-ant-tree {
                    height: calc(100vh - 210px);
                }
            }
        }
    }

    .right {
        display: flex;
        height: 100%;

        .top {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 24px 0 0;

            .title {
                font-weight: 550;
                line-height: 53px;

                .titleInfo {
                    margin-left: 8px;
                    color: rgb(0 0 0 / 45%);

                    & > span {
                        margin-left: 2px;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            height: 100%;
            justify-content: space-between;
            padding: 0 24px 0 0;

            .emptyWrapper {
                width: 100%;
                margin-top: 100px;
                color: rgb(0 0 0 / 65%);
                text-align: center;
            }

            :global {
                .any-fabric-ant-table-wrapper {
                    width: 100%;
                }
            }
        }

        .contentLeft {
            overflow: hidden;
            flex: 1;
        }

        .contentRight {
            position: relative;
            height: 100%;

            .configContent {
                position: relative;
                display: flex;
                width: 300px;
                height: 100%;
                flex-direction: column;
                border-left: 1px solid rgb(0 0 0 / 10%);
            }

            .contentRightTop {
                display: flex;
                justify-content: space-between;
                padding: 0 16px;
                border-bottom: 1px solid rgb(0 0 0 / 10%);
                line-height: 53px;

                .topTitle {
                    font-weight: 550;
                }

                .topAction {
                    & > span:first-child {
                        margin-right: 24px;
                    }

                    & > span {
                        cursor: pointer;
                    }
                }
            }

            .contentRightBottom {
                overflow: auto;
                flex: 1;
            }

            .bottomAction {
                display: flex;
                height: 52px;
                align-items: center;
                justify-content: flex-end;
                padding: 0 16px;
                border-top: 1px solid rgb(0 0 0 / 6%);
                background: #fff;

                .btn {
                    margin-left: 12px;
                }
            }
        }
    }
}

.expand-box-fields {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    &-search {
        flex-shrink: 0;
        padding: 8px 16px;
    }

    &-check {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        padding-left: 30px;
        color: rgb(0 0 0 / 85%);
        font-size: 12px;

        .switch {
            display: flex;
            align-items: center;
            color: rgb(0 0 0 / 65%);
            column-gap: 8px;
        }
    }

    &-list {
        height: 0;
        flex: 1;
        padding: 8px 16px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.search-wrapper {
    overflow-y: auto;

    &.search-wrapper-autoHt {
        height: auto;
    }

    .checked {
        .search-item {
            background-color: #ecf5ff !important;
        }
    }

    .search-item {
        display: flex;
        align-items: flex-start;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: #eff0f3;
        }

        &-icon {
            padding-right: 8px;
        }

        &-right {
            display: flex;
            width: calc(100% - 24px);
            align-items: center;
            justify-content: space-between;
        }

        &-content {
            width: 100%;
            flex: 1;
            .ellipsis-mixin();

            &-name {
                overflow: hidden;
                color: rgba(0 0 0 / 85%);
                font-weight: 500;
                text-overflow: ellipsis;
            }

            &-path {
                overflow: hidden;
                margin-top: 4px;
                color: rgba(0 0 0 / 45%);
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }

        &-opt {
            padding: 2px 4px;
        }

        :global {
            .any-fabric-ant-badge-dot {
                margin-top: 16px !important;
            }

            .any-fabric-anticon {
                font-size: 16px;
            }

            .any-fabric-ant-collapse-arrow {
                margin-right: 10px;
            }
        }
    }
}

.sampleTable {
    thead {
        background: '#F5F6F9';
    }

    .text-center {
        position: absolute;
        display: flex;
        width: 100%;
        height: 48px;
        align-items: center;
        justify-content: center;
        color: rgb(0 0 0 / 35%);

        &-retry {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
        }
    }

    .scoreInfo {
        min-width: 100px;
        font-size: 12px;

        .scoreInfoItem {
            display: flex;
            align-items: center;
            column-gap: 6px;

            .scoreIcon {
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #ef5965;
                border-radius: 50%;
            }
        }
    }

    .unConfig {
        color: rgb(0 0 0 / 25%);
        font-size: 12px;
    }

    .tableTDContnet {
        display: flex;
        // 设计规定最宽345px-左右padding之和32px=313px
        max-width: 313px;
        align-items: center;

        .nameIcon {
            margin-right: 4px;
        }

        &.subTableTDContnet {
            display: inline-block;
            width: 100%;
            max-width: 313px;
            margin-top: -2px;
            color: rgb(0 0 0 / 45%);
            font-size: 12px;
            font-weight: normal;
            .ellipsis-mixin();
        }

        .businessTitle {
            .ellipsis-mixin();

            &.emptyTitle {
                flex: 1;
                // color: rgb(0 0 0 / 45%);
                opacity: 0;
            }
        }
    }

    :global {
        .any-fabric-ant-table-cell {
            padding: 0 !important;

            &:has(.col-checked) {
                background-color: #ecf5ff !important;
            }
        }

        .any-fabric-ant-table-column-sorters {
            width: 100%;
        }

        .any-fabric-ant-table-column-title {
            width: calc(100% - 14px);
        }

        .any-fabric-ant-table-content {
            overflow-x: auto;

            > table {
                width: auto;
                min-width: 100%;
            }
        }

        // th {
        //     > div {
        //         // 设计规定最宽345px-左右padding之和32px=313px
        //         max-width: 313px;
        //     }
        // }

        .any-fabric-ant-table-thead > tr:nth-child(2) > th {
            background: #fff;
            font-weight: normal;
        }

        .any-fabric-ant-table-tbody > tr > td {
            user-select: none;
        }
    }
}

.itemview-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 30px;

    .itemview-icon {
        display: grid;
        align-self: center;
        padding-right: 6px;
    }

    &-nodename {
        display: inline-block;
        overflow: hidden;
        max-width: calc(100% - 14px);
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.extend-node {
    height: 36px;
    padding-left: 20px;
    color: rgb(0 0 0 / 85%);
    cursor: pointer;
    line-height: 36px;

    &:hover {
        background-color: #eff0f3;
    }
}

.active-extend-node {
    background-color: #ecf5ff;

    &:hover {
        background-color: #ecf5ff;
    }
}

.limit-row-wrapper {
    height: 100%;
    padding: 0 10px 0 16px;
    overflow-y: auto;

    .row-content {
        margin-top: 16px;

        .outer-operator-container {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        .groups-container {
            width: 100%;

            .group-container {
                display: flex;
                padding: 16px;
                padding-bottom: 0;
                border: 1px solid rgb(0 0 0 / 10%);
                margin-bottom: 16px;
                border-radius: 3px;

                .left-operator {
                    display: flex;
                    // width: 100%;
                    height: auto;
                    align-items: center;
                    border-left: 2px solid rgb(18 110 227 / 20%);
                    margin-left: 16px;

                    .left-select {
                        z-index: 2;
                        margin-left: calc(-50% - 5px);
                        background: #dceafb;
                        border-radius: 2px;
                        color: #126ee3;
                        font-size: 14px;

                        :global {
                            .any-fabric-ant-select-selector {
                                padding: 0 4px;

                                .any-fabric-ant-select-selection-item {
                                    padding-right: 12px;
                                }
                            }

                            .any-fabric-ant-select-item {
                                padding: 5px 11px;
                            }

                            .any-fabric-ant-select-arrow {
                                z-index: -1;
                                right: 4px;
                                color: rgb(18 110 227 / 100%);
                            }
                        }
                    }
                }

                // .space {
                //     &:last-child {
                //         :global {
                //             .any-fabric-ant-form-item {
                //                 margin-bottom: 0;
                //             }
                //         }
                //     }
                // }

                // &:last-child {
                //     margin-bottom: 0;
                // }
                .rowWrapper {
                    display: flex;
                    height: 32px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 12px;
                    color: rgb(0 0 0 / 45%);

                    .totle {
                        margin: 0 4px;
                        color: #126ee3;
                    }
                }
            }

            .left-operator {
                margin-bottom: 8px;

                &::before {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-right: 12px;
                    background: currentcolor;
                    border-radius: 50%;
                    content: '';
                }
            }

            .condition-groups-wrapper {
                :global {
                    .any-fabric-ant-form-item {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .groups-container-with-operator {
            width: calc(100% - 56px);
        }
    }

    .label-container {
        display: flex;
        align-items: center;

        .label-name {
            flex: 1;
            margin-left: 4px;
            color: @title-color-secondary;
            .ellipsis-mixin();
        }
    }

    .exploreSelect {
        .selectOpWrapper {
            position: relative;
            display: flex;
            justify-content: space-between;

            .selectOpLabel {
                position: absolute;
                z-index: 9;
                top: 6px;
                left: 16px;
            }

            .selectProgress {
                width: calc(100% - 54px);

                :global {
                    .any-fabric-ant-progress-outer {
                        padding-right: 0;
                        margin-right: 0;
                    }
                }
            }

            .selectPercent {
                display: inline-block;
                width: 50px;
                color: rgb(0 0 0 / 65%);
                font-size: 12px;
                text-align: right;
            }
        }
    }
}

.pageTitle {
    display: flex;
    height: 40px;
    align-items: center;

    :global {
        .any-fabric-ant-breadcrumb-link {
            cursor: pointer;
        }
    }
}

.templateManageWrapper {
    padding: 0 24px;

    .pageTitle {
        height: auto;
        padding: 24px 0 16px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;

        .topLeft {
            button {
                margin-right: 8px;
            }
        }
    }
}

.historyRecordWrapper {
    padding: 0 24px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 22px;

        .pageTitle {
            height: auto;

            .pageTitleInfo {
                color: rgb(0 0 0 / 45%);

                & > span {
                    margin: 0 2px 0 8px;
                }
            }
        }

        .topLeft {
            button {
                margin-right: 8px;
            }
        }
    }
}

.mr16 {
    margin-right: 16px;
}

.tableOperation {
    & > button {
        .mr16;
    }

    & > span:not(:last-child) {
        .mr16;
    }
}

.detailRow {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    & > span:first-child {
        width: 98px;
        color: rgb(0 0 0 / 45%);
    }

    & > span:last-child {
        flex: 1;
        word-break: break-all;
    }

    .detailRolesTag {
        display: inline-block;
        padding: 7px 15px;
        margin-bottom: 8px;
        background: rgb(214 221 237 / 25%);
        border-radius: 3px;
        color: #6b798d;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .detailRolesTagEmpty {
        display: inline-block;
        margin-bottom: 8px;
    }
}

.fieldListWrapper {
    display: flex;
    overflow: auto;
    height: 100%;
    flex-direction: column;
    margin-top: 16px;

    & > div:not(:last-child) {
        margin-bottom: 12px;
    }
}

.queryConfigWrapper {
    height: 100%;

    :global {
        .any-fabric-ant-tabs-content,
        .any-fabric-ant-tabs-tabpane {
            height: 100%;
        }
    }
}

.disabled {
    color: rgb(0 0 0 / 25%);
}

.descText {
    color: rgb(0 0 0 / 45%);
}

.textOverflow {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mr4 {
    margin-right: 4px;
}

div.fitWidth {
    display: flex;
    width: 100%;

    & > label {
        flex: 1;
        text-align: center;
    }
}

div.relations {
    margin: 0 8px;
}

.expandOpen {
    position: absolute;
    z-index: 999;
    top: 120px;
    left: -6px;
    display: flex;
    width: 12px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 15%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 16%);
    cursor: pointer;
    font-size: 12px;

    &:hover {
        color: #126ee3;
    }
}

.mb8 {
    margin-bottom: 8px;
}

.mb12 {
    margin-bottom: 12px;
}
