.serviceOverviewWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .serviceOverviewHeader {
        display: flex;
        height: 40px;
        flex-shrink: 0;
        align-items: center;
        padding: 0 24px;
        border-bottom: 1px solid #f0f0f0;

        :global {
            .any-fabric-ant-tabs > .any-fabric-ant-tabs-nav,
            .any-fabric-ant-tabs > div > .any-fabric-ant-tabs-nav {
                margin-bottom: 0;
            }

            .any-fabric-ant-tabs {
                width: 100%;
            }
        }
    }

    .serviceOverviewContent {
        overflow: hidden;
        flex: 1;
    }

    .left {
        overflow: auto;
        height: calc(100vh - 100px);

        .title {
            padding: 24px 0 24px 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .right {
        height: 100%;
        padding-top: 22px;

        .rigthTitle {
            display: flex;
            // height: 32px;
            align-items: center;
            // padding: 0 0 24px 0;
            margin-bottom: 16px;
            font-weight: 550;
        }

        .tableRow {
            &:hover {
                .catlgName {
                    color: @primary-color;
                }
            }
        }

        &.isExpansion {
            :global {
                .any-fabric-ant-table-pagination.any-fabric-ant-pagination {
                    margin-top: 21px;
                }
            }
        }

        .catlgBox {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .catlgName {
            .ellipsis-mixin();

            line-height: 19px;

            .nameText {
                display: flex;
                overflow: hidden;
                align-items: center;

                .name {
                    .ellipsis-mixin();

                    &:hover {
                        color: @primary-color;
                        cursor: pointer;
                        text-decoration-line: underline;
                    }
                }

                .draftText {
                    display: flex;
                    height: 20px;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    padding: 0 8px;
                    border: 1px solid rgb(0 0 0 / 10%);
                    margin-left: 4px;
                    background: #eaecf1;
                    border-radius: 10px;
                    color: #42526e;
                    font-size: 12px;
                }

                .syncText {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    margin-left: 4px;
                    color: #ff4d4f;
                    font-size: 12px;
                }
            }
        }

        .catlgCode {
            line-height: 19px;
        }

        .operateBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }

    .listContainer {
        padding: 0 16px;
    }
}

.treeWrapper {
    overflow: auto;
    height: 100%;

    .treeSearch {
        margin: 0 16px 16px;
    }

    .dirTab {
        :global {
            .any-fabric-ant-tabs-nav-wrap {
                padding: 0 16px;
            }

            .any-fabric-ant-tabs-tab {
                padding: 20px 0 16px;
            }
        }
    }

    .all {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }

    .treeNode {
        display: flex;
        height: 32px;
        align-items: center;
        color: rgb(0 0 0 / 85%);
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: #f5f5f5;
        }

        .arrow {
            margin-right: 6px;
            color: rgb(0 0 0 / 65%);
            font-size: 12px;
            transform: rotate(0deg);
            transition: all 0.1s linear 0s;
        }

        .expandArrow {
            transform: rotate(90deg);
            transition: all 0.1s linear 0s;
        }

        .rightContent {
            display: flex;
            overflow: hidden;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            margin-left: 6px;

            .nodeName {
                color: rgb(0 0 0 / 85%);
                font-weight: 400;
                .ellipsis-mixin();
            }

            .selectedNodeName {
                color: #000;
                font-weight: 600;
            }

            .operate {
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 14px;
                margin-left: 10px;

                .iconWrapper {
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;

                    &:hover {
                        background-color: rgba(0 0 0 / 4%);
                    }

                    .operateIcon {
                        color: #000;
                    }

                    .allAddIcon {
                        margin-top: 2px;
                    }
                }

                :global {
                    .any-fabric-ant-dropdown-menu-title-content {
                        margin-left: 8px;
                    }
                }

                .moreOperate {
                    :global {
                        .any-fabric-ant-dropdown-menu-title-content {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .selectedTreeNode {
        background-color: rgb(18 110 227 / 6%);

        &:hover {
            background-color: rgb(18 110 227 / 6%);
        }
    }

    .disableTreeNode {
        cursor: not-allowed;
    }
}

.empty {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

:global {
    // 目录搜索结果高亮显示
    .dirHighLight {
        color: #126ee3;
    }
}

.selectMode {
    .modeBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .leftMode {
            margin-right: 24px;
        }

        .modeBoxItem {
            width: 320px;
            height: 192px;
            border: 2px solid rgb(0 0 0 / 4%);
            border-radius: 8px;
            cursor: pointer;
            text-align: center;

            &.active {
                border: 2px solid #126ee3;
            }

            .modeIcon {
                margin: 24px 0;
                color: #1677ff;
                font-size: 60px;
            }
        }

        .modeLabel {
            margin-top: 24px;
            font-size: 18px;
            font-weight: 550;
            text-align: center;
        }
    }
}

.apiDetailWrapper {
    width: 100%;
    height: 100%;
    background: #eff2f5;

    .title {
        display: flex;
        height: 52px;
        align-items: center;
        padding-left: 20px;
        background: #fff;
        line-height: 52px;

        .returnInfo {
            cursor: pointer;

            .returnArrow {
                margin-right: 8px;
            }

            .returnText {
                margin-right: 12px;
            }
        }

        .divider {
            width: 1px;
            height: 20px;
            border: 1px solid rgb(0 0 0 / 35%);
            margin-right: 15px;
        }

        .titleText {
            font-weight: 550;
        }

        .versionTab {
            display: flex;
            flex: auto;
            justify-content: center;
            margin-right: 190px;
            margin-bottom: 0;

            :global {
                .any-fabric-ant-tabs-top > .any-fabric-ant-tabs-nav,
                .any-fabric-ant-tabs-bottom > .any-fabric-ant-tabs-nav,
                .any-fabric-ant-tabs-top > div > .any-fabric-ant-tabs-nav,
                .any-fabric-ant-tabs-bottom > div > .any-fabric-ant-tabs-nav {
                    margin: 0;
                }
            }
        }
    }

    .detailsContainer {
        height: calc(100vh - 76px);
        padding: 24px 10%;
        margin: 12px;
        background: #fff;
        overflow-y: auto;

        .paramsCantainer {
            .paramsTitle {
                margin-bottom: 24px;
                color: #000;
                font-size: 16px;
                font-weight: 550;

                &.resParamsTitle {
                    margin-top: 24px;
                }
            }
        }

        .detailsLabelBox {
            margin-left: 12px;

            .fileWrapper {
                display: flex;
                align-items: center;

                .fileName {
                    margin-left: 8px;
                    .ellipsis-mixin();
                }
            }
        }

        .rulesTitle {
            margin-top: 10px;
            margin-bottom: 18px;
            color: @label-color;
            font-size: 14px;
        }

        .rulesBox {
            display: flex;
            margin-left: -6px;

            & > div,
            input {
                width: 220px;
                margin: 6px;
            }
        }

        .nameTitleContainer {
            display: flex;
            height: 24px;
            align-items: center;
            padding: 0 8px;
            margin-bottom: 16px;

            .serviceType {
                display: flex;
                width: 70px;
                height: 24px;
                align-items: center;
                justify-content: center;
                border: 1px solid #126ee3;
                background: rgb(24 144 255 / 3%);
                border-radius: 4px;
                color: #126ee3;
            }

            .nameText {
                max-width: 350px;
                margin-left: 8px;
                font-weight: 550;
                .ellipsis-mixin();
            }
        }
    }

    &.apiAuditDetailWrapper {
        .detailsContainer {
            height: auto;
            padding-top: 0;
            margin: 0;
        }
    }
}

.labelTitleWrapper {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    // margin: 10px 0;
    margin: 20px 0;
    background: rgb(0 55 150 / 2%);
    color: @label-color;
    font-size: 16px;
    font-weight: 550;

    .left {
        display: flex;
        align-items: center;

        .labelLine {
            display: inline-block;
            width: 2px;
            height: 20px;
            margin-right: 18px;
            background: #126ee3;
        }
    }

    .right {
        flex: 1;
        text-align: right;
    }
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statusTextBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .statusDot {
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        border-radius: 5px;
    }

    .text {
        margin-left: 8px;
    }

    .advice {
        margin-left: 8px;
    }
}

.testApiWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #eff2f5;

    .title {
        display: flex;
        height: 52px;
        flex-shrink: 0;
        align-items: center;
        padding-left: 20px;
        background: #fff;
        line-height: 52px;

        .returnInfo {
            cursor: pointer;

            .returnArrow {
                margin-right: 8px;
            }

            .returnText {
                margin-right: 12px;
            }
        }

        .divider {
            width: 1px;
            height: 20px;
            border: 1px solid rgb(0 0 0 / 35%);
            margin-right: 15px;
        }

        .titleText {
            font-weight: 550;
        }
    }

    .content {
        display: flex;
        width: 100%;
        flex: 1;
        justify-content: center;
        padding: 24px;
        margin: 16px 24px;
        background: #fff;
        overflow-y: auto;

        .serviceTestWrapper {
            max-width: 1100px;
        }
    }

    .logViewContent {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 24px;
        margin: 16px 24px;
        background: #fff;
        overflow-y: auto;

        & > div {
            width: 100%;
        }
    }
}
