.codeContainer {
    display: flex;

    .codeView {
        .codeItem {
            display: flex;
            height: 22px;
            align-items: center;
        }

        .retract {
            margin-left: 24px;
        }

        .bracket {
            color: rgb(0 0 0 / 85%);
        }
    }

    .lineNumbers {
        margin-right: 12px;
        color: rgb(0 0 0 / 85%);

        .line {
            display: flex;
            height: 22px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
