.common-title-wrapper {
    display: flex;
    height: 46px;
    align-items: center;
    background-color: rgb(0 55 150 / 2%);

    .common-title-line {
        width: 3px;
        height: 20px;
        margin-right: 12px;
        background: #126ee3;
    }

    .common-title {
        color: rgb(0 0 0 / 85%);
        font-weight: 550;
    }
}
