.choose-lv {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &-left {
        overflow: hidden;
        width: 279px;
        height: 100%;
        padding-top: 12px;
        border-right: 1px solid rgb(0 0 0 / 6%);

        &-top {
            padding: 0 20px;

            :global {
                .any-fabric-ant-select-selection-item {
                    padding-right: 20px;
                    font-weight: 550;
                }
            }
        }

        &-orgTree {
            .ungrouped {
                height: 36px;
                padding-left: 20px;
                cursor: pointer;
                line-height: 36px;

                &:hover {
                    background-color: #eff0f3;
                }
            }

            .active-ungrouped {
                background-color: #ecf5ff;

                &:hover {
                    background-color: #ecf5ff;
                }
            }

            :global {
                .any-fabric-ant-tree {
                    max-height: 350px;
                    overflow-x: auto !important;
                }

                .any-fabric-ant-tree-list {
                    display: flex;
                    flex: 1;

                    &-holder {
                        flex: 1;
                    }
                }

                .any-fabric-ant-tree-node-content-wrapper {
                    overflow: auto !important;
                }
            }
        }

        &-sbjTree,
        &-sorTree {
            :global {
                .any-fabric-ant-tree {
                    max-height: 350px;
                }
            }
        }

        :global {
            .search-result {
                height: 388px !important;
                overflow-y: auto;
            }

            .any-fabric-ant-tree-node-content-wrapper {
                width: calc(100% - 40px);
            }

            .any-fabric-ant-tree .any-fabric-ant-tree-treenode {
                padding-right: 6px !important;
            }
        }
    }

    &-right {
        width: 521px;
    }
}

.lv-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: 12px;

    :global .any-fabric-ant-list-item {
        padding: 0;
    }

    &-top {
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: space-between;
        margin-right: 20px;
        margin-bottom: 8px;
    }

    &-bottom {
        overflow: hidden;
        flex: 1;

        &-content {
            overflow: hidden auto;
            height: calc(100% - 40px);
        }

        &-page {
            display: flex;
            justify-content: flex-end;
            padding: 8px 24px 8px 0 !important;
        }
    }
}

.lv-item {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    padding: 0 20px;
    color: rgba(0 0 0 / 85%);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgb(0 0 0 / 4%);
    }

    &.is-checked {
        background: rgb(236 245 255);
        font-size: 14px;

        &:hover {
            background: rgb(236 245 255);
            cursor: default;
        }
    }

    &-icon {
        width: 20px;
        font-size: 20px;
    }

    &-title {
        overflow: hidden;
        flex: 1;
        padding: 0 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;

        &-name,
        &-code {
            width: 100%;
            .ellipsis-mixin();
        }

        &-code {
            color: rgba(0 0 0 / 45%);
            font-size: 12px;
        }
    }

    &-checkIcon {
        color: #126ee3;
        font-size: 16px;
    }
}
