.treeSelectThemeDomainWrapper {
    &.hasUnCategorized {
        :global {
            .any-fabric-ant-select-tree-list-holder-inner {
                .any-fabric-ant-select-tree-treenode:last-child {
                    padding-top: 8px;
                    padding-bottom: 0;
                    border-top: 1px solid rgb(0 0 0 / 10%);
                }
            }
        }
    }

    &.treeSelectSearchWrapper {
        :global {
            .any-fabric-ant-select-tree-list-holder-inner {
                .any-fabric-ant-select-tree-treenode:last-child {
                    padding-top: unset;
                    padding-bottom: unset;
                    border-top: none;
                }
            }
        }
    }

    :global {
        .any-fabric-ant-select-tree-node-content-wrapper {
            white-space: nowrap;
        }
    }
}
