.wrapper {
    background-color: #fff;
}

.routesLoading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

:global {
    .src-nav-HeadBar-styles---header {
        min-width: 1280px;
    }

    .src-nav-HeadBar-styles---header .src-nav-HeadBar-styles---name-item {
        max-width: 120px;
        .ellipsis-mixin();
    }
}
