:global {
    .any-fabric-ant-dropdown-menu-item-selected,
    .any-fabric-ant-dropdown-menu-submenu-title-selected {
        color: rgb(0 0 0 / 100%) !important;
        font-size: 14px !important;
        font-weight: bold !important;
    }
}

.filterWrapper {
    cursor: pointer;
    text-align: center;

    .filterText {
        margin-right: 8px;
    }
}
