.sceneAnalysisWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 24px;
    padding-top: 22px;

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .topLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .titleWrap {
                margin-bottom: 16px;
                font-weight: 550;
            }
        }

        .topRight {
            display: flex;
            align-items: center;
            align-self: flex-end;
            justify-content: space-between;
        }
    }

    .bottom {
        display: flex;
        overflow: hidden;
        height: calc(100% - 84px);
        flex: 1;
        flex-direction: column;

        .listWrapper {
            overflow: hidden auto;

            .list {
                width: calc(100% - 10px);
            }
        }

        .pagination {
            margin-right: 10px;
            float: right;
        }
    }

    .emptyWrapper {
        margin-top: 120px;
    }
}

.sceneListCardWrap {
    position: relative;
    min-width: 330px;
    height: 156px;
    padding: 20px 20px 16px;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 15%);
    }

    // .imageWrapper {
    //     display: flex;
    //     min-width: 284px;
    //     min-height: 192px;
    //     max-height: 192px;
    //     flex: 1;
    //     justify-content: center;
    //     background-color: rgb(0 0 0 / 2%);

    //     .itemImage {
    //         height: 100%;
    //         border-radius: 3px;
    //         cursor: pointer;
    //         object-fit: cover;
    //     }

    //     .itemImageDisabled {
    //         cursor: default;
    //     }

    //     :global .any-fabric-ant-image {
    //         width: 100%;
    //     }
    // }

    .sac_topWrap {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .nameWrap {
            display: flex;
            width: 100%;
            flex: 1;
            align-items: center;
            color: rgb(0 0 0 / 85%);
            font-size: 14px;
            line-height: 22px;

            .icon {
                display: flex;
                width: 32px;
                height: 32px;
                align-items: center;
                justify-content: center;
                background: #f1f7fe;
                border-radius: 3px;
                color: #3e75ff;
                font-size: 18px;
            }

            .name {
                display: inline-block;
                flex: 1;
                margin-left: 8px;
                cursor: pointer;
                font-weight: 550;
                .ellipsis-line(1);

                &:hover {
                    color: @primary-color;
                    text-decoration: underline;
                }
            }
        }

        .itemMore {
            display: flex;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            margin: 0 -4px 0 20px;
            border-radius: 4px;
            color: rgb(0 0 0 / 85%);
            font-size: 16px;
        }
    }

    .desc {
        height: 40px;
        margin-bottom: 12px;
        color: rgb(0 0 0 / 65%);
        font-size: 12px;
        .ellipsis-line(2);
    }

    .detailWrap {
        display: flex;
        width: 100%;
        height: 18px;
        align-items: center;
        color: @text-color-third;
        font-size: 12px;

        .userWrap {
            display: flex;
            align-items: center;
            margin-right: 4px;
            .ellipsis-line(1);
        }

        .timeWrap {
            flex-shrink: 0;
        }
    }
}

.delIcon {
    color: #faad14 !important;
}

.configIcon {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background: transparent;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 24px;

    &:hover {
        background: rgb(0 0 0 / 4%);
    }

    .aiImg {
        width: 20px;
        height: auto;
    }
}

.sceneGraphWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    :global {
        // 隐藏画布的滚动条
        .x6-graph-scroller::-webkit-scrollbar {
            width: 0; /* 设置滚动条宽度 */
            height: 0;
            background: #f6f9fb;
        }

        .x6-graph-scroller::-webkit-scrollbar-thumb {
            width: 0; /* 设置滚动条宽度 */
            height: 0;
            background: #f6f9fb;
        }

        .any-fabric-ant-tabs-nav {
            margin: 0;
        }
    }

    .sceneGraphContainer {
        width: 100%;
        height: calc(100vh - 52px);
    }

    .loadingGraph {
        position: absolute;
        width: 100%;
        .center();
    }

    .emptyGraph {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 120px;
        text-align: center;
    }

    .bottom {
        display: flex;
        height: 100%;
        flex-direction: column;
        background: #fff;

        .bottomTit {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px 8px;
            border-bottom: 1px solid rgb(0 0 0 / 6%);
            color: #000;
            font-size: 14px;
            font-weight: 550;

            .bottomDescWrap {
                display: flex;
                max-width: 60%;
                align-items: center;
                color: rgb(0 0 0 / 85%);
                font-weight: 550;

                .bottomDesc {
                    display: flex;
                    align-items: center;
                    color: rgb(0 0 0 / 65%);
                    font-weight: 400;

                    .bottomDescName {
                        .ellipsis-line(1);
                    }
                }
            }

            .btnWrap {
                display: flex;
                align-items: center;

                .expandIcon {
                    display: flex;
                    width: 24px;
                    height: 24px;
                    align-items: center;
                    justify-content: center;
                    color: rgb(0 0 0 / 85%);
                    cursor: pointer;
                    font-size: 14px;

                    &:hover {
                        background: #f5f5f5;
                    }
                }

                .expandIconDisabled {
                    color: rgb(0 0 0 / 25%);
                    cursor: not-allowed;
                }
            }
        }

        .bottomList {
            margin: 16px 24px;

            :global {
                .any-fabric-ant-table-tbody > tr > td {
                    user-select: none;
                }
            }
        }

        .empty {
            .center();
        }
    }

    .rightContainer {
        height: calc(100vh - 52px);
        background-color: #fff;

        .rightExtra {
            margin-right: 12px;

            .cleanIcon {
                display: flex;
                align-items: center;
                padding-right: 12px;
                font-size: 14px;

                .icon {
                    display: flex;
                    width: 24px;
                    height: 24px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover {
                        background: #f5f5f5;
                        border-radius: 4px;
                    }
                }
            }
        }

        :global .any-fabric-ant-tabs {
            height: 100%;

            > .any-fabric-ant-tabs-nav .any-fabric-ant-tabs-nav-wrap {
                padding: 8px 0 0 12px;
            }

            .any-fabric-ant-tabs-nav-list {
                position: relative;
                top: -1px;
            }

            .any-fabric-ant-tabs-content {
                height: 100%;
            }

            .any-fabric-ant-tabs-tabpane {
                height: 100%;
            }

            .any-fabric-ant-tabs-nav {
                border-bottom: 8px solid #f0f2f6;
            }
        }

        :global .any-fabric-ant-tabs-card > .any-fabric-ant-tabs-nav {
            .any-fabric-ant-tabs-tab {
                border: none;
                background-color: #fff;

                &:hover {
                    background-color: rgb(240 242 246 / 65%);
                    color: #000;
                }
            }

            .any-fabric-ant-tabs-tab-active {
                border: none;
                background-color: rgb(240 242 246 / 100%);

                .any-fabric-ant-tabs-tab-btn {
                    color: #000;
                }
            }
        }

        .tabLabelContainer {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            .tabLabelText {
                width: 146px;
                .ellipsis-mixin();

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.dataViewDetailsBtn {
    position: fixed;
    top: 116px;
    right: 0;
    padding: 8px 0;
    background: rgb(0 0 0 / 80%);
    border-radius: 3px 0 0 3px;
    color: #fff;
    cursor: pointer;

    .text {
        letter-spacing: 4px;
        writing-mode: vertical-rl;
    }

    .icon {
        display: flex;
        height: 14px;
        align-items: center;
        padding-left: 3px;
        font-size: 12px;
    }
}

.graphHeaderWrapper {
    .gh_header {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        background-color: #fff;
    }

    .gh_topLeftWrap {
        display: flex;
        align-items: center;

        .returnWrapper {
            display: inline-flex;
            height: 20px;
            align-items: center;
            cursor: pointer;

            .return {
                width: 30px;
                margin: 0 12px;
                font-size: 14px;
            }
        }

        .nameWrapper {
            display: inline-flex;
            width: calc(100% - 100px);
            align-items: center;

            .nameborder {
                width: 1px;
                height: 20px;
                margin-right: 18px;
                background: rgb(0 0 0 / 35%);
            }

            .domainName {
                max-width: 160px;
                margin-right: 8px;
                font-size: 14px;
                font-weight: 550;

                .ellipsis-mixin();
            }

            .iconWrapper {
                display: flex;
                width: 24px;
                height: 24px;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;

                &:hover {
                    background-color: rgb(245 245 245);
                }
            }
        }
    }

    .toolWrapper {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .toolbarContent {
            display: inline-flex;
            height: 20px;
            align-items: center;
            margin: 10px 0 10px 10px;

            .toolIcon {
                font-size: 32px;

                .toolButton {
                    display: block;
                }

                .iconEnabled {
                    color: @title-color-secondary;

                    &:hover {
                        background-color: rgb(0 0 0 / 4%);
                    }
                }

                .iconDisabled {
                    display: flex !important;
                    color: @disabled-color;
                    cursor: default !important;
                }

                .toolSelectButton {
                    width: 40px;
                    height: 32px;
                    line-height: 20px;
                }

                .toolSelectLines {
                    display: flex;
                    width: 54px;
                    height: 32px;
                    align-items: center;
                    padding: 0 10px;
                }

                .toolSelectSize {
                    display: flex;
                    height: 32px;
                    align-items: center;
                    padding: 0 10px;
                }
            }

            .toolSplit {
                width: 10px;

                .toolSplitLine {
                    width: 1px;
                    height: 16px;
                    border: 1px solid rgb(0 0 0 / 15%);
                    margin-left: 10px;
                }
            }
        }

        .modeContainer {
            display: flex;
            align-items: center;
            margin-right: 24px;

            .dot {
                margin-right: 4px;
            }

            .text {
                height: 28px;
                cursor: pointer;
                line-height: 28px;

                .bottomLine {
                    width: 60%;
                    border-bottom: 3px solid #126ee3;
                    margin-left: 20%;
                }
            }

            .selectedText {
                color: #126ee3;
            }

            .line {
                width: 64px;
                border-bottom: 1px solid #999;
                margin: 0 8px;
            }
        }
    }

    .toolSaveWrapper {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }
}

.sceneNode {
    // position: relative;
    // width: 100%;
    // height: 100%;
    // padding: 10px 10px 0;
    // border: 1px solid #fff;
    // background: #fff;
    // border-radius: 8px;
    // color: @title-color-secondary;

    &:hover {
        border: 1px solid rgb(18 110 227 / 86%);
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);

        .sn_deleteIcon {
            visibility: visible;
        }

        .sn_nodeAddWrap {
            .sn_nodeAdd {
                visibility: visible;
            }
        }
    }

    .sn_deleteIcon {
        position: absolute;
        top: -9px;
        right: -8px;
        display: flex;
        width: 18px;
        height: 18px;
        align-items: center;
        justify-content: center;
        color: #bfbfbf;
        cursor: pointer;
        font-size: 12px;
        visibility: hidden;
    }

    .sn_topWrap {
        // display: flex;
        // height: 20px;
        // align-items: center;
        // justify-content: space-between;

        .sn_topTitle {
            // display: inline-block;
            // width: calc(100% - 60px);
            // cursor: pointer;
            // font-size: 12px;
            // font-weight: 550;
            .ellipsis-mixin();

            &:hover,
            &:active,
            &:focus {
                color: #126ee3;
                text-decoration: underline;
            }
        }

        .sn_topTool {
            // display: flex;
            // margin-right: -6px;

            .sn_topBtn {
                // display: flex;
                // width: 20px;
                // height: 20px;
                // align-items: center;
                // justify-content: center;
                // border-radius: 3px;
                // cursor: pointer;

                &:hover {
                    background: rgb(0 0 0 / 4%);
                }
            }

            .topBtnDisabled {
                // color: @disabled-color;
                cursor: not-allowed;
            }
        }
    }

    .sn_iconBg {
        // background: #fff;
    }

    .sn_content {
        // display: flex;
        // width: 100%;
        // align-items: center;
        // justify-content: center;
        // padding: 20px;

        .sn_contentItemWrap {
            // position: relative;
            // display: flex;
            // width: 104px;
            // flex-shrink: 0;
            // align-items: center;
            // justify-content: space-between;

            .sn_contentItem {
                // position: relative;
                // display: flex;
                // width: 62px;
                // height: 62px;
                // flex-direction: column;
                // flex-shrink: 0;
                // align-items: center;
                // justify-content: space-between;
                // padding: 8px 0;
                border: 1px solid #fff;
                // margin: 0 4px;
                // border-radius: 3px;

                .sn_contentItemTitle {
                    // height: 16px;
                    // color: rgb(0 0 0 / 65%);
                    // font-size: 12px;
                }

                .delBtn {
                    // position: absolute;
                    // top: -8px;
                    // right: -8px;
                    // display: flex;
                    // width: 14px;
                    // height: 14px;
                    // flex-shrink: 0;
                    // align-items: center;
                    // justify-content: center;
                    // color: #bfbfbf;
                    // cursor: pointer;
                    // font-size: 12px;
                    visibility: hidden;
                }

                .errInfoBtn {
                    // position: absolute;
                    // top: -7px;
                    // right: -6px;
                    // width: 12px;
                    // height: 12px;
                    // background: #fff;
                    // color: #f5222d;
                    // font-size: 12px;
                    visibility: hidden;
                }
            }

            .error {
                border-color: #f5222d;

                .errInfoBtn {
                    visibility: visible;
                }

                .delBtn {
                    visibility: hidden;
                }
            }

            &:hover {
                .sn_contentItem {
                    border-color: rgb(18 110 227 / 85%);
                    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

                    .delBtn {
                        visibility: visible;
                    }
                }

                .error {
                    border-color: #f5222d;

                    .errInfoBtn {
                        visibility: hidden;
                    }
                }

                .leftAdd,
                .rightAdd,
                .delBtn {
                    visibility: visible;
                }
            }

            .addBtn {
                // display: flex;
                // width: 15px;
                // height: 15px;
                // align-items: center;
                // justify-content: center;
                // background: @primary-color;
                // border-radius: 10px;
                // color: #fff;
                // cursor: pointer;
                // font-size: 13px;
                visibility: hidden;

                &:hover {
                    background: #fff;
                    color: @primary-color;
                    font-size: 15px;
                }
            }

            .leftAdd {
                .addBtn();
            }

            .rightAdd {
                .addBtn();
            }

            .rightArrow {
                // position: absolute;
                // top: 10px;
                // right: -10px;
                // font-size: 20px;
            }

            &:last-child {
                .rightArrow {
                    display: none;
                }
            }
        }

        .sn_contentEmptyWrap {
            // display: flex;
            // width: 62px;
            // height: 62px;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-between;
            // padding: 12px 0;
            // border: 1px dashed rgb(0 0 0 / 15%);
            // border-radius: 3px;
            // color: rgb(0 0 0 / 45%);
            // cursor: pointer;
            // font-size: 10px;

            &:hover {
                border: 1px dashed #126ee3;
                color: #126ee3;
            }
        }
    }

    .sn_retract {
        // display: flex;
        // width: 100%;
        // align-items: center;
        // justify-content: flex-start;
        // margin-top: 8px;

        .sn_retractItemWrap {
            // display: flex;
            // height: 24px;
            // align-items: center;
            // justify-content: center;

            .sn_retractItem {
                // display: flex;
                // width: 24px;
                // height: 24px;
                // align-items: center;
                // padding-left: 4px;
                border: 1px solid #fff;
                // border-radius: 3px;
                // font-size: 14px;

                &:hover {
                    border-color: rgb(18 110 227 / 85%);

                    .delBtn {
                        visibility: visible;
                    }
                }

                .delBtn {
                    // position: relative;
                    // bottom: 12px;
                    // left: -2px;
                    // display: flex;
                    // width: 14px;
                    // height: 14px;
                    // flex-shrink: 0;
                    // align-items: center;
                    // justify-content: center;
                    // color: #bfbfbf;
                    // cursor: pointer;
                    // font-size: 10px;
                    visibility: hidden;
                }

                .errInfoBtn {
                    // position: relative;
                    // bottom: 12px;
                    // left: -14px;
                    // width: 10px;
                    // height: 10px;
                    // background: #fff;
                    // color: #f5222d;
                    // font-size: 10px;
                    visibility: hidden;
                }
            }

            .rightArrow {
                // margin: 0 2px;
                // font-size: 10px;
            }

            &:last-child {
                .rightArrow {
                    display: none;
                }
            }
        }

        .error {
            .sn_retractItem {
                border-color: #f5222d;

                &:hover {
                    border-color: #f5222d;

                    .errInfoBtn {
                        visibility: hidden;
                    }

                    .delBtn {
                        visibility: visible;
                    }
                }

                .errInfoBtn {
                    visibility: visible;
                }

                .delBtn {
                    visibility: hidden;
                }
            }
        }
    }

    .sn_nodeAddWrap {
        // position: absolute;
        // top: 0;
        // right: -32px;
        // display: flex;
        // width: 32px;
        // height: 100%;
        // align-items: center;
        // justify-content: center;
        // color: @primary-color;
        // visibility: hidden;

        &:hover {
            .sn_nodeAdd {
                visibility: visible;
            }
        }

        .sn_nodeAdd {
            visibility: hidden;
            // display: flex;
            // width: 17px;
            // height: 17px;
            // align-items: center;
            // justify-content: center;
            // background: @primary-color;
            // border-radius: 10px;
            // color: #fff;
            // cursor: pointer;
            // font-size: 15px;

            &:hover {
                background: #fff;
                color: @primary-color;
                font-size: 17px;
                visibility: visible;
            }
        }
    }
}

// .nodeConfigWrapper {
//     :global {
//         .any-fabric-ant-drawer-body {
//             padding: 0 24px 24px;
//             margin-top: -12px;
//         }

//         .any-fabric-ant-form-vertical .any-fabric-ant-form-item-label {
//             padding: 0 0 10px;
//         }

//         .any-fabric-ant-form-item {
//             margin-bottom: 22px;
//         }

//         .any-fabric-ant-drawer-footer {
//             border: none;
//         }

//         .any-fabric-ant-drawer-header {
//             height: 54px;
//             padding: 0 10px 0 24px;
//         }
//     }
// }

.notFoundWraper {
    .center();
}

.ldWrap {
    display: flex !important;
    .center();
}

.aiDialog {
    position: absolute;
    z-index: 999;
    top: 80px;
    width: 520px;
    max-height: 600px;
    background: linear-gradient(
        #f1f6ff 0%,
        #edf4ff 34%,
        #f0f7ff 68%,
        #f2f6fe 100%
    );
    border-radius: 4px;
    box-shadow: 0 9px 28px 8px rgb(18 34 74 / 8%),
        0 3px 6px -4px rgb(32 59 125 / 12%), 0 6px 16px 0 rgb(38 72 158 / 8%);

    .aiHeader {
        display: flex;
        height: 54px;
        align-items: center;
        justify-content: space-between;
        padding: 11px 24px;
        border-bottom: 1px solid #d3e1f8;
        background-size: auto 54px;

        img {
            width: 32px;
            height: auto;
            margin-right: 12px;
        }

        .title {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        .aiIcon {
            color: #3e75ff;
            cursor: pointer;
            font-size: 16px;
        }
    }

    .aiBody {
        position: relative;
        width: 100%;
        max-height: 546px;
        padding: 24px;
        overflow-y: hidden;

        .selectedList {
            .menuTitle {
                color: rgb(0 0 0 / 85%);
                font-size: 14px;
                line-height: 20px;
            }

            .titleTip {
                color: rgb(0 0 0 / 45%);
                font-size: 12px;
                line-height: 18px;
            }
        }

        .tipInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            color: #8192bc;
            font-size: 12px;
            line-height: 18px;
        }

        .aiProblem {
            position: relative;
            width: 100%;
            border: 2px solid transparent;

            .aiTextArea {
                position: relative;

                &::after {
                    position: absolute;
                    z-index: 1;
                    right: 56px;
                    bottom: -34px;
                    font-size: 14px;
                    line-height: 17px;
                }

                :global {
                    .any-fabric-ant-input {
                        padding: 12px 16px;
                        border: 2px solid transparent;
                        box-shadow: none;
                    }
                }
            }

            .sendIcon {
                position: absolute;
                right: 16px;
                bottom: 11px;
                color: #126ee3;
                cursor: pointer;
                font-size: 23px;
                line-height: 1;
                opacity: 1;
            }

            .sendIsDisabled {
                opacity: 0.3;
            }

            .aiDropdown {
                padding: 6px 12px;
                background: #f4f5f8;
                border-radius: 4px;

                :global {
                    .any-fabric-ant-space-item {
                        color: rgb(0 0 0 / 85%);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }

            .caretArrow {
                cursor: pointer;
            }

            .searchFooter {
                position: relative;
                width: 100%;
                padding: 8px 12px;
                background: #fff;
            }
        }

        .focusText {
            border: 2px solid;
            border-image: linear-gradient(
                    90deg,
                    rgb(145 219 255 / 100%),
                    rgb(141 175 255 / 100%)
                )
                2 2;
            border-radius: 4px;
            clip-path: inset(0 round 4px);
        }

        .aiAnswer {
            max-height: 322px;
            padding: 16px;
            border: 1px solid rgb(211 225 248 / 80%);
            margin-top: 14px;
            background: #fff;
            border-radius: 4px;
            color: rgb(0 0 0 / 85%);
            font-size: 14px;
            overflow-y: auto;

            .skeleton {
                position: relative;
                border-radius: 5px;

                .skeletonHeader {
                    display: flex;
                    justify-content: space-between;
                }

                .stopAnswer {
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    color: #3e75ff;
                    cursor: pointer;

                    .icon {
                        margin-right: 8px;
                        font-size: 24px;
                    }

                    .stopText {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .tips {
                    display: flex;
                    align-items: center;
                    color: rgb(0 0 0 / 45%);
                    line-height: 22px;
                }

                :global {
                    .any-fabric-ant-skeleton-content
                        .any-fabric-ant-skeleton-paragraph {
                        margin-bottom: 0;
                    }
                }
            }

            .qaTitle {
                .qa_tips {
                    font-size: 12px;
                }
            }

            .cite_wrapper {
                margin-bottom: 14px;

                .citeContainer {
                    display: flex;
                    justify-content: space-between;

                    .moreBtn {
                        display: flex;
                        width: 40px;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 12px;
                        margin-bottom: 8px;
                        margin-left: 8px;
                        background: rgb(62 117 255 / 8%);
                        border-radius: 4px;
                        color: rgb(0 0 0 / 85%);
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .citeCard {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .moreCard {
                        .cite_item {
                            width: calc((100% - 8px) / 2);
                            min-width: 180px;
                        }
                    }
                }

                .cite_item {
                    display: flex;
                    width: calc((100% - 8px) / 2);
                    min-width: 200px;
                    height: 38px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 12px 12px 8px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    background: rgb(62 117 255 / 8%);
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background: rgb(62 117 255 / 18%);
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    .sourceItem {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        cursor: pointer;

                        em {
                            display: inline-block;
                            min-width: 12px;
                            height: 12px;
                            padding: 0 2px;
                            margin: 0 5px;
                            background: rgb(62 117 255 / 14%);
                            border-radius: 2px;
                            color: #3461ec;
                            cursor: pointer;
                            font-size: 12px;
                            font-style: normal;
                            line-height: 12px;
                            text-align: center;
                        }

                        .cite_name {
                            display: flex;
                            width: calc(100% - 38px);
                            flex: 1;
                            align-items: center;
                            padding-left: 8px;

                            .t_title {
                                display: inline-block;
                                overflow: hidden;
                                width: 120px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .t_title_userData {
                                display: inline-block;
                                overflow: hidden;
                                width: 80px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }

                    .addText {
                        width: 50px;
                        color: rgb(0 0 0 / 45%);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: right;
                    }
                }
            }

            .qa_answer {
                line-height: 22px;

                i {
                    display: inline-block;
                    min-width: 12px;
                    height: 12px;
                    padding: 0 2px;
                    margin: 0 5px;
                    background: #d9e2fd;
                    border-radius: 2px;
                    color: #3461ec;
                    cursor: pointer;
                    font-size: 12px;
                    font-style: normal;
                    line-height: 12px;
                    text-align: center;
                }

                i:hover {
                    background: #5a7ef0;
                    color: white;
                }
            }
        }

        .qa_markdown {
            display: inline-block;
            overflow: auto;
            max-width: 80%;
            max-height: 245px;
            margin-top: 8px;

            table {
                border: 1px solid #d4dbe2;
                background: #fff;

                th,
                td {
                    padding: 6px 12px;
                    border: 1px solid #d4dbe2;
                    .ellipsis-mixin();
                }

                thead {
                    tr {
                        background-color: #f5f8fb;
                    }
                }

                tbody {
                    font-size: 13px;
                }
            }
        }

        .feedback {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 24px;
            color: rgba(0 0 0 / 65%);

            .copyFeedback {
                line-height: normal;
            }

            .fuzhiIcon {
                color: rgba(0 0 0 / 85%);
                cursor: pointer;
                line-height: 16px;
            }

            .icon {
                width: 16px;
                height: 16px;
                margin-left: 16px;
                color: rgba(0 0 0 / 65%);
                cursor: pointer;
                font-size: 16px;
            }

            .colored {
                color: rgb(255 127 0);
            }

            .moreText {
                color: #126ee3;
                cursor: pointer;
                font-size: 14px;
                line-height: 22px;
            }
        }

        .tips_wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }

        .qa_icon {
            width: 16px;
            height: 16px;
            color: rgba(0 0 0 / 45%);
            font-size: 16px;
        }

        .qa_tips {
            margin-left: 8px;
            color: rgba(0 0 0 / 45%);
            font-size: 14px;
            line-height: 18px;
        }
    }

    .moreList {
        position: relative;
        max-height: 546px;
        background: linear-gradient(
            #f1f6ff 0%,
            #edf4ff 34%,
            #f0f7ff 68%,
            #f2f6fe 100%
        );
        overflow-y: hidden;

        .moreHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 24px 14px;

            .back {
                color: #000;
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;

                :global {
                    .any-fabric-anticon {
                        margin-right: 8px;
                    }
                }
            }

            .text {
                color: #000;
                font-size: 12px;
                font-weight: 400;
                line-height: 17px;
                opacity: 0.45;
            }
        }

        .moreInfoList {
            max-height: 500px;
            padding: 0 24px 24px;
            overflow-y: auto;
        }
    }
}

.cite_permission {
    &:hover {
        background: rgb(62 117 255 / 8%) !important;
        cursor: not-allowed !important;
    }

    .sourceItem {
        width: calc(100% - 22px) !important;
        color: rgb(0 0 0 / 45%) !important;
        cursor: not-allowed !important;

        &:hover {
            cursor: not-allowed !important;
        }
    }

    .cite_name {
        width: calc(100% - 50px) !important;
    }
}

.hide {
    display: none;
}

.show {
    display: inline-block !important;
}

.sceneLock {
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    margin-left: 4px;
    background: #faad14;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
}

.aiClose {
    animation: shrink 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.aiShow {
    display: inline-block !important;
    animation: expand 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes shrink {
    0% {
        top: 20%;
        opacity: 1;
    }

    100% {
        top: 54px;
        display: none;
        opacity: 0;
    }
}

@keyframes expand {
    0% {
        top: 10%;
        opacity: 0.3;
    }

    100% {
        top: 15%;
        opacity: 1;
    }
}

.dialogDnd {
    width: 100%;
}

.dataViewWrapper {
    position: relative;
    height: 100%;

    .moreInfoContainer {
        position: absolute;
        top: 50px;
        display: flex;
        width: 100%;
        height: calc(100% - 50px);
        justify-content: center;
        background-color: #f0f2f6;

        .tableContainer {
            margin-top: 34px;
        }
    }

    .instructions {
        position: absolute;
        bottom: 24px;
        left: 24px;
    }
}
