.combedCardWrapper {
    display: flex;
    height: 100%;
    background-color: #fff;
}

.architecture-wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    .left {
        overflow: hidden;
        height: 100%;
        padding-top: 22px;

        .mode-container {
            width: 100%;
            margin-bottom: 8px;
            // text-align: center;

            .viewWrapper {
                padding: 0 20px;
                color: rgb(0 0 0 / 85%);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;

                :global {
                    .any-fabric-ant-select-selector {
                        height: 20px;
                        padding: 0 0 0 6px;
                        border: none;
                    }

                    .any-fabric-ant-select-selection-item {
                        padding-right: 20px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
            }

            :global {
                .any-fabric-ant-radio-button-wrapper {
                    width: 120px;
                }
            }
        }

        .tree-wrapper {
            height: calc(100% - 28px);

            :global {
                .any-fabric-ant-tree {
                    height: calc(100vh - 215px);
                }
            }
        }

        .treeContainer {
            height: 100%;
            // :global {
            //     .any-fabric-ant-tree {
            //         max-height: calc(100vh - 230px);
            //     }
            // }
        }
    }

    .right {
        padding: 24px 0;
        padding-top: 22px;

        .architecture-type-icon {
            margin-right: 6px;
            font-size: 18px;
        }

        .name-container {
            display: flex;
            align-items: center;

            .parent-path {
                .ellipsis-mixin();
            }

            .process-name {
                .ellipsis-mixin();

                &:hover {
                    color: @primary-color;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .pagination {
            margin-top: 24px;
            float: right;
        }
    }

    .title {
        font-weight: 550;
    }

    .operate-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;
    }
}
