.formCantainer {
    width: calc(100% + 25px);
    margin-left: -10px;

    .searchFormItem {
        width: 100%;
    }

    .searchCol {
        padding: 0 12px;

        :global {
            .any-fabric-ant-input-number {
                width: 100%;
            }
        }
    }
}
