.biz-wrapper {
    .common-title {
        color: rgba(0 0 0 / 85%);
        font-size: 14px;
        font-weight: bold;
    }

    .biz-wrapper-empty {
        display: flex;
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    &-content {
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;

        &-left {
            // overflow: hidden;
            width: 341px;
            padding: 12px 16px;
            border-right: 1px solid rgba(0 0 0 / 6%);
        }

        &-right {
            overflow: hidden;
            width: 658px;
            padding: 12px 16px;
        }
    }

    .cf_empty {
        .center();
    }

    .cf_list {
        overflow: auto;
        width: 100%;
        height: 100%;

        :global .any-fabric-ant-list-item {
            padding: 0;
        }

        .cf_listItemWrapper {
            display: flex;
            width: 100%;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
        }
    }

    .cf_tree {
        width: 200px;
        height: 100%;
        flex-shrink: 0;
        border-right: 1px solid rgb(0 0 0 / 6%);
        overflow-x: auto;
        overflow-y: overlay;
    }
}

.catalog-item {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    padding-left: 10px;
    color: rgba(0 0 0 / 85%);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    &.is-checked,
    &:hover {
        background: rgb(236 245 255);
    }

    &.is-selected {
        background: transparent;
        color: rgba(0 0 0 / 25%);
        font-size: 14px;

        &:hover {
            background: transparent;
            cursor: default;
        }
    }

    &-icon {
        width: 20px;
        font-size: 16px;
    }

    &-title {
        overflow: hidden;
        flex: 1;
        padding: 0 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;

        &-name,
        &-code {
            width: 100%;
            .ellipsis-mixin();
        }

        &-code {
            color: rgba(0 0 0 / 45%);
            font-size: 12px;
        }
    }

    &-link {
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2878ff;
        }

        &-check {
            width: 32px;
            margin-right: 4px;
        }

        &-bind {
            width: 44px;
            padding: 4px 6px;
            background: rgba(40 120 255 / 15%);
            border-radius: 3px;
            font-size: 10px;
            line-height: 1;
            white-space: nowrap;
            word-break: keep-all;
        }
    }
}

.catalog-wrapper {
    overflow: hidden;
    height: 100%;

    &-title {
        margin-bottom: 10px;
        color: rgba(0 0 0 / 85%);
        font-size: 14px;
        font-weight: bold;
    }

    &-choose {
        width: 100%;
        margin-bottom: 10px !important;

        &-item {
            width: 50%;
            text-align: center;
        }
    }

    &-search {
        margin-bottom: 10px;
    }

    &-list {
        overflow: auto;
        height: calc(100% - 74px);

        &.ownerList {
            height: calc(100% - 84px);
        }

        &-box {
            overflow: auto;
            height: calc(100% - 35px);
        }

        &-page {
            margin: 10px 10px 0;
            text-align: right;
        }
    }
}

.fields-wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    flex-direction: column;

    &-codewrapper {
        .fields-wrapper-title {
            display: flex;
            height: 32px;
            align-items: center;
            justify-content: space-between;
        }

        .fields-wrapper-list-item {
            height: auto;
        }
    }

    &-example {
        display: initial;
    }

    &-title {
        margin-bottom: 12px;
        color: rgba(0 0 0 / 85%);
        font-size: 14px;
        font-weight: bold;
    }

    &-search {
        margin: 10px 0;
    }

    &-list {
        height: 100%;
        flex: 1;
        overflow-y: auto;

        :global(.any-fabric-ant-list-item) {
            padding: 0;
        }

        &-item {
            width: 100%;
            height: 32px;
            line-height: 32px;

            &:hover {
                background: rgb(0 0 0 / 4%);
            }
        }
    }

    &-radio {
        :global {
            .any-fabric-ant-radio-button-wrapper {
                width: 88px;
                box-shadow: none;
                color: rgba(0 0 0 / 85%);
                text-align: center;

                &.any-fabric-ant-radio-button-wrapper-checked {
                    color: #126ee3;
                }
            }

            .any-fabric-ant-radio-button-wrapper-checked:not(
                    .any-fabric-ant-radio-button-wrapper-disabled
                ):focus-within {
                box-shadow: none;
            }
        }
    }
}

// 样例数据
.exampleTableInfoWrapper {
    .contentLoader {
        display: flex;
        width: 100%;
        height: calc(558px - 40px);
        align-items: center;
        justify-content: center;
    }

    .tableWrapper {
        // overflow: hidden;
        // flex-grow: 1;

        .sampleTable {
            .tableTDContnet {
                // 设计规定最宽345px-左右padding之和32px=313px
                min-width: 80px;
                max-width: 313px;
                .ellipsis-mixin();
            }

            :global {
                .any-fabric-ant-table-content {
                    overflow-x: auto;

                    > table {
                        width: auto;
                        min-width: 100%;
                    }
                }

                th {
                    // overflow: hidden;
                    // 设计规定最宽345px-左右padding之和32px=313px
                    min-width: 80px;
                    max-width: 313px;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    white-space: nowrap;
                    // white-space-collapse: collapse;

                    // .ellipsis-mixin();
                }

                .any-fabric-ant-table-tbody > tr > td {
                    user-select: none;
                }
            }
        }

        .aiTableDesc {
            margin-top: 16px;
            color: rgb(0 0 0 / 65%);
            line-height: 20px;
        }
    }
}

.emptyText {
    padding: 16px;
    font-size: 12px;

    .emptyFirstText {
        margin-bottom: 8px;
        font-size: 14px;
    }
}

.bizFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .openAi {
        color: rgb(0 0 0 / 65%);
        line-height: 20px;
    }

    .configIcon {
        position: relative;
        height: 20px;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        color: #126ee3;
        cursor: pointer;

        .aiImg {
            width: 20px;
            height: auto;
            margin-top: -2px;
            margin-right: 4px;
        }
    }
}
