.msgNoticeWrapper {
    // .msgContent {
    //     display: flex;
    //     align-items: center;

    // }

    :global {
        .any-fabric-ant-message-custom-content {
            display: flex;
            align-items: center;
        }
    }
}

.isInCitySharing {
    color: #faac14;
}

.link {
    margin-bottom: 0;
    color: #126ee3;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}
