.container {
    padding: 0 24px;

    .title {
        padding: 16px 0;
        font-weight: 600;
    }

    .toolBar {
        display: flex;
        width: 100%;
        height: 32px;
        align-items: center;
        justify-content: space-between;
    }

    .tableContainer {
        margin-top: 16px;

        .pagination {
            margin: 16px 0;
            float: right;
        }

        .tableRow {
            &:hover {
                .textName {
                    color: @primary-color;
                }
            }
        }

        .textName {
            &:active,
            &:focus,
            &:hover {
                color: #126ee3;
                text-decoration: underline;
            }
        }
    }

    .empty {
        margin-top: 120px;
    }
}

.headerTitle {
    display: flex;
    align-items: center;

    .headerModelInfo {
        display: flex;
        width: 193px;
        align-items: center;

        .iconWrapper {
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: rgb(245 245 245);
            }
        }

        .modelInfoWrap {
            max-width: 168px;
            font-weight: 550;
            .ellipsis-mixin();
        }
    }

    .headerTab {
        margin-left: 52px;

        :global {
            .any-fabric-ant-tabs-top > .any-fabric-ant-tabs-nav,
            .any-fabric-ant-tabs-bottom > .any-fabric-ant-tabs-nav,
            .any-fabric-ant-tabs-top > div > .any-fabric-ant-tabs-nav,
            .any-fabric-ant-tabs-bottom > div > .any-fabric-ant-tabs-nav {
                border-bottom: 0;
                margin-bottom: 0;
            }

            .any-fabric-ant-tabs-top > .any-fabric-ant-tabs-nav::before,
            .any-fabric-ant-tabs-bottom > .any-fabric-ant-tabs-nav::before,
            .any-fabric-ant-tabs-top > div > .any-fabric-ant-tabs-nav::before,
            .any-fabric-ant-tabs-bottom
                > div
                > .any-fabric-ant-tabs-nav::before {
                border-bottom: 0;
            }
        }
    }
}

.headerRightBtn {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.ModelContainer {
    width: 100%;
    height: 100%;

    .graphContainer {
        width: 100%;
        height: 100%;
    }

    .displayInfoWrap {
        position: absolute;
        bottom: 20px;
        left: 24px;
        background: transparent;
        color: rgb(0 0 0 / 65%);
        font-size: 12px;

        .item {
            display: flex;
            height: 20px;
            align-items: center;

            .label {
                margin-left: 4px;
            }
        }
    }
}

.formNoData {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 6px;

    .emptyLine {
        position: absolute;
        top: 140px;
        right: -132px;
    }

    .emptyIcon {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .textName {
        display: flex;
        justify-content: center;
    }

    .addFormTips {
        display: flex;
        justify-content: center;
    }
}

.formNoDataSource {
    border: 2px dashed #aedbb0;
    background: rgb(174 219 176 / 2%);
}

.formNoDataTarget {
    border: 2px dashed #e0d2ef;
    background: rgb(224 210 239 / 2%);
}

.formHasData {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 6px;

    .formContainer {
        height: 100%;

        .formTitle {
            height: 42px;

            .formTitleLine {
                height: 8px;
                background: #aedbb0;
                border-radius: 6px 6px 0 0;
            }

            .formTargetLine {
                height: 8px;
                background: rgb(224 210 239 / 100%);
                border-radius: 6px 6px 0 0;
            }

            .formTitleContent {
                display: flex;
                height: 36px;
                align-items: center;
                justify-content: space-between;
                padding: 12px;
                border-bottom: 1px solid rgb(167 209 234 / 50%);

                .leftFormInfo {
                    display: flex;
                    align-items: center;

                    .name {
                        width: 150px;
                        margin-left: 4px;
                        color: #000;

                        .ellipsis-mixin();
                    }
                }

                .leftFormInfoEmpty {
                    color: rgb(0 0 0 / 25%);
                    font-size: 12px;
                }

                .rightFormTool {
                    display: flex;
                    align-items: center;
                }

                .formTitleBtn {
                    display: flex;
                    align-items: center;

                    .iconBtn {
                        display: flex;
                        width: 20px;
                        height: 20px;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:hover,
                        &:active,
                        &:focus {
                            background: rgb(0 0 0 / 4%);
                        }
                    }
                }

                .formSearch {
                    display: flex;
                    width: 70%;
                    align-items: center;

                    .formSearchInput {
                        padding: 0 12px 0 0;
                        border: 0;
                        margin-left: 8px;
                        background: transparent;
                        border-radius: 0;
                        color: rgb(0 0 0 / 85%);

                        &:hover,
                        &:active,
                        &:focus {
                            box-shadow: 0;
                        }

                        &::placeholder {
                            color: rgb(0 0 0 / 25%);
                        }
                    }
                }

                .clearInput {
                    position: relative;
                    z-index: 999;
                    margin-left: -12px;
                    color: rgb(0 0 0 / 60%);
                    cursor: pointer;
                    font-size: 12px;
                }
            }

            .formTargetTitleBoder {
                border-bottom: 1px solid #f7f4fb;
            }

            .formSourceTitleBoder {
                border-bottom: 1px solid #e3f3e4;
            }
        }

        .formTitleError {
            border: 1px solid #f5222d;
            border-radius: 6px 6px 0 0;
        }

        .formList {
            display: flex;
            height: calc(100% - 42px);
            flex-direction: column;
            justify-content: space-between;

            .formItem {
                display: flex;
                height: 30px;
                align-items: center;
                padding: 0 12px;

                .icon {
                    margin-right: 4px;
                    color: rgb(0 0 0 / 65%);
                }

                .targetNameContent {
                    display: flex;
                    width: 240px;
                    align-items: center;
                    justify-content: space-between;

                    .descriptionContent {
                        position: relative;
                        display: flex;
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: center;

                        .dotTip {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 6px;
                            height: 6px;
                            background: rgb(250 173 20 / 100%);
                            border-radius: 6px;
                        }

                        &:active,
                        &:focus,
                        &:hover {
                            background: rgb(0 0 0 / 8%);
                        }
                    }

                    .btnGroup {
                        display: flex;
                    }
                }

                .name {
                    max-width: 230px;
                    font-size: 12px;
                    .ellipsis-mixin();
                }

                .romveDataName {
                    text-decoration-line: line-through;
                }

                &:active,
                &:focus,
                &:hover {
                    background: rgb(18 110 227 / 6%);
                }
            }

            .romveDataItem {
                color: rgb(0 0 0 / 25%);
            }

            .selectedField {
                box-sizing: border-box;
                border: 1px solid #126ee3;
            }

            .editErrorField {
                box-sizing: border-box;
                border: 1px solid #f5222d !important;
            }

            .connectSelectedField {
                background: rgb(18 110 227 / 6%);
            }

            .formContentPageTurning {
                display: flex;
                height: 20px;
                align-items: center;
                justify-content: center;
                color: rgb(0 0 0 / 85%);
                cursor: pointer;
                font-size: 12px;
            }

            .pasteFormPageTurning {
                background: #e0d2ef;
            }

            .standardFormPageTurning {
                background: rgb(18 110 227 / 25%);
            }

            .originFormPageTurning {
                background: #fff;
                border-radius: 0 0 6px 6px;
            }
        }

        .notHasField {
            display: flex;
            width: 100%;
            height: 320px;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
            color: rgb(0 0 0 / 45%);
            font-size: 12px;
        }
    }
}

.formHasDataSource {
    border: 1px solid #e3f3e4;
}

.formHasDataTarget {
    border: 1px solid rgb(224 210 239 / 50%);
}

.selectedOptionIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editDescripton {
    padding: 16px 8px;

    .titleBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        .close {
            display: flex;
            justify-content: flex-end;
            color: rgb(0 0 0 / 45%);
            cursor: pointer;
            font-size: 14px;
        }

        .editDescriptonLabel {
            display: flex;
            color: #000;
            font-size: 14px;
        }
    }

    .inputText {
        width: 204px;
        height: 60px;
        resize: none;
    }

    .textView {
        width: 204px;
        max-height: 73px;
        color: rgb(0 0 0 / 65%);
        overflow-y: auto;

        .emptyText {
            color: rgb(0 0 0 / 25%);
        }
    }
}

.resultContainer {
    .resultTitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resultTitleInfo {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 550;
    }

    .resultContent {
        margin: 20px 0 30px;

        .content {
            display: flex;
            justify-content: center;
            color: @text-color-desc;
        }
    }

    .resultbButton {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}

.processLogicContent {
    display: flex;
    height: 100%;
    background: #f0f0f3;

    .ToolBarTitWrap {
        display: flex;
        width: 100%;
        height: 40px;
        flex-shrink: 0;
        justify-content: space-between;
        padding: 0 16px 0 0;
        border-bottom: 1px solid rgb(0 0 0 / 6%);
        background: #f0f0f3;
        font-size: 14px;

        .emptyName {
            display: flex;
            height: 100%;
            align-items: flex-start;
            margin-left: 18px;
            font-weight: 550;
        }

        .bottomBtnWrap {
            display: flex;
            width: 24px;
            height: 100%;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            margin-left: 8px;

            .expandIcon {
                display: flex;
                width: 24px;
                height: 24px;
                align-items: center;
                justify-content: center;
                color: rgb(0 0 0 / 85%);
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    background: rgb(255 255 255 / 65%);
                }
            }

            .expandDisabled {
                display: flex;
                width: 24px;
                height: 24px;
                align-items: center;
                justify-content: center;
                color: rgb(0 0 0 / 25%);
                cursor: pointer;
                font-size: 14px;
            }
        }
    }

    .selectDataFormExpand {
        display: flex;
        width: 220px;
        height: 100%;
        border: 1px solid #e1e1e1;
        background: #fff;

        .expandIcon {
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
                background: rgb(0 0 0 / 4%);
            }
        }

        .emptyData {
            color: rgb(0 0 0 / 65%);

            .text {
                display: flex;
                justify-content: center;
            }

            .execBtn {
                color: #126ee3;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;

            .title {
                display: flex;
                justify-content: space-between;
                padding: 16px;

                .name {
                    font-weight: 550;
                }
            }

            .toolBar {
                display: flex;
                padding: 0 16px 8px;
            }

            .dataFormData {
                height: calc(100% - 130px);
                overflow-y: auto;

                .item {
                    display: flex;
                    width: 100%;
                    height: 32px;
                    align-items: center;
                    // justify-content: space-between;
                    padding: 0 16px;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: rgb(0 0 0 / 6%);
                    }

                    .nameInfo {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;

                        .name {
                            display: flex;
                            flex: 1;
                            margin-left: 6px;
                            .ellipsis-line(1);

                            &:hover,
                            &:active,
                            &:focus {
                                color: #126ee3;
                                text-decoration: underline;
                            }
                        }

                        .btnGroup {
                            display: flex;
                            max-width: 72px;
                            flex-shrink: 0;
                            align-items: center;

                            .icon {
                                display: flex;
                                width: 20px;
                                height: 20px;
                                align-items: center;
                                margin-left: 8px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .selectDataFormUnExpand {
        display: flex;
        width: 40px;
        height: 100%;
        justify-content: center;
        border: 1px solid #e1e1e1;
        background: #fff;
        cursor: pointer;

        .unExpandIcon {
            display: flex;
            width: 20px;
            height: 20px;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
                background: rgb(0 0 0 / 4%);
            }
        }

        .content {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .icon {
                width: 20px;
            }

            .name {
                display: flex;
                width: 40px;
                align-items: center;
                margin-top: 8px;
                font-weight: 550;
                writing-mode: vertical-rl;
            }
        }
    }

    .editorContent {
        display: flex;
        width: 100%;
        height: calc(100% - 40px);
        justify-content: center;
    }
}

.dyncLogsContent {
    height: 100%;
    padding: 24px;
    background: #f0f2f5;
}

.formNodeTootip {
    display: flex;
    min-width: 130px;
    max-height: 120px;
    flex-direction: column;
    padding: 4px;
    overflow-y: auto;

    .systemInfo {
        display: flex;
        width: fit-content;
        align-items: center;
        margin-bottom: 4px;
    }

    .dataSource {
        display: flex;
        width: fit-content;
        align-items: flex-start;
    }

    .displayName {
        max-width: 180px;
        flex-shrink: 0;
        margin-left: 4px;
        white-space: normal;
    }
}

.headerTabItemWrap {
    position: relative;
    display: flex;
    width: 216px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    background: #f0f0f3;
    border-radius: 8px 8px 0 0;

    .hti_content {
        display: flex;
        height: 100%;
        flex: 1;
        align-items: center;
        padding: 0 8px;
        border-radius: 8px 8px 0 0;

        .hti_nameWrap {
            display: flex;
            flex: 1;
            align-items: center;

            .hti_name {
                margin-left: 10px;
                color: rgb(0 0 0 / 85%);
                font-weight: 400;
                .ellipsis-line(1);
            }
        }

        .hti_close {
            display: flex;
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            color: rgb(0 0 0 / 85%);
            cursor: pointer;
            font-size: 12px;
        }
    }

    .hti_split {
        width: 1px;
        height: 20px;
        background: rgb(0 0 0 / 25%);
    }

    .hti_leftBlankWrap {
        position: absolute;
        left: -8px;
        width: 8px;
        height: 100%;

        .hti_leftBlank {
            width: 8px;
            height: 100%;
            background: #f0f0f3;
            border-radius: 0 0 10px;
        }
    }

    .hti_rightBlankWrap {
        position: absolute;
        z-index: 1100;
        right: -7px;
        width: 8px;
        height: 100%;

        .hti_rightBlank {
            width: 8px;
            height: 100%;
            background: #f0f0f3;
            border-radius: 0 0 0 10px;
        }
    }
}

.xScrollWrap {
    position: relative;
    top: 40px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    .xScrollContentWrap {
        position: absolute;
        width: fit-content;
        height: fit-content;
        box-sizing: border-box;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }
}

.xScrollWrap::-webkit-scrollbar {
    display: none;
}

.editorContainer {
    width: 100%;
    height: 100%;

    .titleBar {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;

        .leftBtn {
            display: flex;

            .btn {
                margin-right: 8px;
                color: #126ee3;
                cursor: pointer;

                &:active,
                &:focus,
                &:hover {
                    color: #126ee3;
                }
            }
        }

        .rightBtn {
            display: flex;

            .btn {
                margin-right: 8px;
                cursor: pointer;

                &:active,
                &:focus,
                &:hover {
                    color: #126ee3;
                }
            }
        }
    }

    .editorWrap {
        position: relative;
        overflow: hidden;
        height: calc(100% - 40px);

        .editorExpand {
            // height: calc(100% - 400px);
            height: 100%;
            padding-top: 16px;
            border-top: 1px solid rgb(0 0 0 / 6%);
        }

        .editorUnExpand {
            // height: calc(100% - 40px);
            height: 100%;
            padding-top: 16px;
            border-top: 1px solid rgb(0 0 0 / 6%);
        }

        .resultExpand {
            width: 100%;
            height: 100%;
            padding: 0 0 24px;

            .titleBar {
                height: 32px;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px 4px;
                border-bottom: 1px solid #e1e1e1;
            }

            .content {
                display: flex;
                width: 100%;
                height: calc(100% - 40px);
                justify-content: center;
                overflow-y: auto;

                .errorBox {
                    display: flex;
                    min-height: 350px;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;

                    .icon {
                        color: rgb(245 24 45);
                        font-size: 48px;
                    }

                    .textTip {
                        color: rgb(0 0 0 / 65%);

                        .text {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    .detail {
                        min-width: 576px;
                        height: 157px;
                        padding: 4px 8px;
                        border: 1px solid rgb(245 34 45 / 25%);
                        margin: 16px 24px;
                        color: rgb(0 0 0 / 65%);
                        font-size: 12px;
                        overflow-y: auto;
                    }
                }

                .emptyData {
                    color: rgb(0 0 0 / 65%);

                    .text {
                        display: flex;
                        justify-content: center;
                    }

                    .execBtn {
                        color: #126ee3;
                        cursor: pointer;
                    }
                }
            }
        }

        .resultUnExpand {
            bottom: 0;
            display: flex;
            width: 100%;
            height: 32px;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px 4px;
        }
    }
}

.publishResultContainer {
    .close {
        display: flex;
        height: 20px;
        justify-content: flex-end;
        color: rgb(0 0 0 / 45%);
        font-size: 14px;
    }

    .resultTitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resultTitleInfo {
        display: flex;
        justify-content: center;
        margin-left: 12px;
        font-size: 20px;
        font-weight: 550;
    }

    .resultContent {
        margin: 20px 0 30px;

        .content {
            display: flex;
            justify-content: center;
            color: @text-color-desc;
        }
    }

    .resultbButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
}

.selectMetaOptions {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .name {
        max-width: 406px;
        margin-left: 8px;
        .ellipsis-mixin();
    }
}

.selectedDataForm {
    :global {
        .any-fabric-ant-select-selection-overflow {
            max-height: 60px;
        }
    }
}

.addFormDataError {
    width: 306px;
    height: 96px;
    padding: 12px;
    border: 1px solid rgb(211 212 219 / 80%);
    margin-top: 12px;
    background: rgb(211 212 219 / 20%);
    border-radius: 4px;
    overflow-y: auto;
}
