.empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
        color: @text-color-desc;
        font-size: 14px;
    }

    .btn {
        margin-top: 20px;
    }
}
