.hideActiveLine {
    :global {
        .cm-activeLineGutter {
            background-color: transparent !important;
        }
    }
}

.grayBackground {
    background: rgb(240 242 246 / 45%);
    border-radius: 6px;

    :global {
        .cm-scroller,
        .cm-gutters {
            background: rgb(240 242 246 / 45%);
        }
    }
}
