.view-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;

    &-name {
        overflow: hidden;
        width: calc(100% - 24px);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
