.footerbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
}
